<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="<%= pageTitle %>" />
    <meta property="og:image" content="<%= imageUrl %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627" />
    <meta property="og:type" content="website" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amiri&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <title><%= pageTitle %></title>
  </head>
  <body class="container">
    <h2>إنشاء ختمة جماعية</h2>
    <form action="/create-a-room" method="POST" id="formData">
      <fieldset>
        <label for="ageRangeField">:طريقة تقسيم القرآن</label>
        <select id="method" name="method">
          <option disabled selected hidden>اختر طريقة تقسيم القرآن</option>
          <option value="manzil">منازل</option>
          <option value="juz">اجزاء</option>
          <option value="hizb">احزاب</option>
        </select>
        <p class="info" id="info"></p>
        <label for="nameField">:مدة الختمة</label>
        <select id="period" name="period">
          <option disabled selected hidden>مدة الختمة الجماعية</option>
          <option value="day">يوم</option>
          <option value="week">أسبوع</option>
          <option value="month">شهر</option>
        </select>
        <label for="commentField">:الشروط</label>
        <textarea
          placeholder="شروط الختمة الجماعية"
          id="commentField"
          name="comment"
        ></textarea>
        <p class="error" id="error"></p>
        <div class="formFooter row">
          <button class="button" type="submit" id="create">إنشاء</button>
          <a class="button button-outline" id="closeBtn">إلغاء</a>
        </div>
      </fieldset>
    </form>
    <script src="/js/main.js"></script>
  </body>
</html>
